.sticky-banner {
  background-color: #F5F5F5;
  height: auto;
  position: sticky;
  left: 0;
  right: 0;
  border: 4px solid #FFA500;
  box-shadow: 0 0 10px #FFA500;
  border-radius: 50px;
  
}

/*     Primary Color (Brand Color):
        Hex: #3F729B (A cool blue that is often associated with trust and professionalism)

    Secondary Color (Accent Color):
        Hex: #FF6F61 (A vibrant coral color that adds energy and warmth)

    Background Color:
        Hex: #F5F5F5 (A light gray that provides a clean and neutral backdrop)

    Text Color:
        Hex: #333333 (A dark gray for legible text against the light background)

    Call-to-Action Color:
        Hex: #FFA500 (A bold orange for buttons and interactive elements)

    Icon Color:
        Hex: #8E8E8E (A medium gray for subtle and elegant icons)
*/

body {
  background-color: #3F729B;
  text-align: center;
}

img {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3F729B;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

input {
  width: 120px;
}

#enterDetails{
  float: left;
  width: 40%;
  color: #333333;
  border-radius: 20%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

#findDetails{
  float: right;
  width: 40%;
  color: #333333;
  border-radius: 20%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}